# a53xzc (chn_open)
on early-init && property:ro.boot.em.model=SM-A5360
    # Firmware blobs
    mount none /vendor/firmware/SM-A5360/AP_AUDIO_SLSI.bin /vendor/firmware/AP_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A5360/APDV_AUDIO_SLSI.bin /vendor/firmware/APDV_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A5360/mfc_fw.bin /vendor/firmware/mfc_fw.bin bind
    mount none /vendor/firmware/SM-A5360/NPU.bin /vendor/firmware/NPU.bin bind
    mount none /vendor/firmware/SM-A5360/os.checked.bin /vendor/firmware/os.checked.bin bind
    mount none /vendor/firmware/SM-A5360/vts.bin /vendor/firmware/vts.bin bind
    mount none /vendor/firmware/SM-A5360/calliope_sram.bin /vendor/firmware/calliope_sram.bin bind
    # TEEgris
    mount none /vendor/tee/SM-A5360 /vendor/tee bind

# a53xnaxx (eur_open)
on early-init && property:ro.boot.em.model=SM-A536B
    # Firmware blobs
    mount none /vendor/firmware/SM-A536B/AP_AUDIO_SLSI.bin /vendor/firmware/AP_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A536B/APDV_AUDIO_SLSI.bin /vendor/firmware/APDV_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A536B/mfc_fw.bin /vendor/firmware/mfc_fw.bin bind
    mount none /vendor/firmware/SM-A536B/NPU.bin /vendor/firmware/NPU.bin bind
    mount none /vendor/firmware/SM-A536B/os.checked.bin /vendor/firmware/os.checked.bin bind
    mount none /vendor/firmware/SM-A536B/vts.bin /vendor/firmware/vts.bin bind
    mount none /vendor/firmware/SM-A536B/calliope_sram.bin /vendor/firmware/calliope_sram.bin bind
    # TEEgris
    mount none /vendor/tee/SM-A536B /vendor/tee bind

# a53xnsxx (cis_open)
on early-init && property:ro.boot.em.model=SM-A536E
    # Firmware blobs
    mount none /vendor/firmware/SM-A536E/AP_AUDIO_SLSI.bin /vendor/firmware/AP_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A536E/APDV_AUDIO_SLSI.bin /vendor/firmware/APDV_AUDIO_SLSI.bin bind
    mount none /vendor/firmware/SM-A536E/mfc_fw.bin /vendor/firmware/mfc_fw.bin bind
    mount none /vendor/firmware/SM-A536E/NPU.bin /vendor/firmware/NPU.bin bind
    mount none /vendor/firmware/SM-A536E/os.checked.bin /vendor/firmware/os.checked.bin bind
    mount none /vendor/firmware/SM-A536E/vts.bin /vendor/firmware/vts.bin bind
    mount none /vendor/firmware/SM-A536E/calliope_sram.bin /vendor/firmware/calliope_sram.bin bind
    # TEEgris
    mount none /vendor/tee/SM-A536E /vendor/tee bind

# Restart just to be safe.
on boot
    restart audioserver
